//color set
$color1: #88e2ec;
$color2: #004969;
$color3: #5ecba2;
$color4: #1b6c90;
$color5: #707070;
$color6: #004767;
$color7: #007d9c;
$color8: #fbfbfb;
$color9: #f2f2f2;
$color10: #0f3a47;
$color11: #cff9fc;
$color12: #d6cece;
$color13: #e3e3e3;
$color14: #07b2bf;
$color15: #606060;
$color16: #1f7983;
$color17: #0e4efc;
//$color18:#000000;
$color18: #5c5b5b;
$color19: #dee1e3;
$color20: #ffde06;
$color21: #e6e6e6;
$color22: #5c5b5b;
$color23: #047c89;
$color24: #4b4a4a;
$color25: #ffdbdb;
$color26: #f8c4c9;
$color27: #6b6c6c;
$color28: #d8d7d5;
$color29: #2ab294;
$color30: #ffa000;
$color31: #e9e9e9;
$color32: rgba(230, 230, 230, 0.349);
$red: red;
$lightgray: #d3d3d3;
$black: #000000;
$white: #ffffff;
$blue: #6a6f8c;
$grey: #c8c8c8;
$color33: #b3d7db;
$errorSuccess: #73bc7f;
$errorDanger: #ec5867;
$errorInfo: #047c89;
$rowSelectedLeftBorderErrorColor: #ff003b;
$verimi-color: #00c29d;
$verimi-hover-color: #43756c;
// For dashboard.scss --------------------------------------------------------------------
$dash_btn_border_color: $color1;
$dash_btn_bg_color: $color1;
$dash_btn_color: $color2;
$dash_active_btn_bg_color: $color2;
$dash_active_btn_color: $white;
$dash_tble_active_btn_bg_color: $color1;
$archiv_button_hover: $color33;
// For Header.scss --------------------------------
$header_bgcolor: $color21;
$header_bgcolor1: $color6;
$header_bgcolor2: $color7;
$header_textcolor1: $color8;
$header_textcolor2: $color2;
//Dashboard Tiles
$dash_tile_bg_color: $white;
$dash_tile_spancolor1: $color3;
$dash_tile_spancolor2: $color4;
$dash_tile_boxshadow_color: $color5;
// $dash_image_car: url("../../assets/images/icon_new_vorgange.svg");
// $dash_image_keys: url("../../assets/images/icon_geanderter_status.svg");
// $dash_image_archiv: url("../../assets/images/icon_archiv.svg");
// $refresh_button_hover_image: url("../../src/assets/images/Komponente_51_2.svg");
// $refresh_button_image: url("../../src/assets/images/Komponente_51_2_White.svg");
// $refresh_button_grey_image:url("../../src/assets/images/icon_status_request_grey.svg");
// $excel_download_button_image: url("../../src/assets/images/Icon_Download.svg");
// $excel_download_hove_button_image: url("../../src/assets/images/Icon_Download_White.svg");
// $excel_download_button_grey_image: url("../../src/assets/images/icon_download_grey.svg");
// $more_option_button_image: url("../../src/assets/images/icon_menue.svg");
// $more_option_button_hover_image: url("../../src/assets/images/icon_menue white.svg");
// $weiterleteim_logo_blue: url("../assets/images/Senden_Icon.svg");
// $weiterleteim_logo_white: url("../assets/images/Senden_Icon_white.svg");
// $weiterleteim_logo_grey: url("../assets/images/icon_weiterleiten_grey.svg");
// $neu_logo_white: url("../assets/images/icon_plus.svg");
// $neu_logo_hover_white: url("../assets/images/icon_plus_White.svg");
// $more_option_dowload_image: url("../../src/assets/images/Icon_Download.svg");
// $more_option_applyupdate_image: url("../../src/assets/images/icon_applyupdate.svg");
// $more_option_clearupdate_image: url("../../src/assets/images/icon_clear.svg");
// $table_filter_image: url("../../src/assets/images/icon_filter.svg");
// $table_sort_active_image: url("../../src/assets/images/icon_active_sort.svg");
// $table_sort_image: url("../../src/assets/images/icon_sort.png");
// $table_sort_hover_image: url("../../src/assets/images/icon_sort_hover.svg");
// $error_danger_image: url("../../src/assets/images/icon_Fehler.svg");
// $error_succes_image: url("../../src/assets/images/icon_Conform.svg");
// $error_info_image: url("../../src/assets/images/icon_bell small.svg");
// $Aussondern-logo: url("../assets/images/icon_aussondern.svg");
// $Aussondern_logo_grey: url("../assets/images/icon_aussondern_grey.svg");
// $file_upload_grey_icon:url("../../src/assets/images/icon_upload_grey.svg");
// $file_upload_green_icon:url("../../src/assets/images/icon_upload_green.svg");
//table
$table-header: $color9;
$table-header-font-color: $color10;
$table-header-bottom: 2px solid $color3;
$table-filter: $color13;
$table-filter-font-color: $color10;
$table-row-odd: $white;
$table-row-even: $white;
$table-row-pagination: $white;
$table-font-color: $color10;
$table-picker-btn-color: $color2;
$table-select-menu-color: $color2;
$table-select-menu-background: $white;
$table-svg-icon-color: $color3;
$table-left-border-color: $color23;
$table-row-selected: $color33;
$table-left-border-error-color: $rowSelectedLeftBorderErrorColor;
// For vorgang.scss----------------------------------------------------------------------
$number_Plate_bgcolor: $white;
$number_plate_box_shadow: $black;
$number_plate_color: $color5;
$number_plate_blue_bgcolor: $color17;
$number_plate_border_yellow: $color20;
$number_plate_border_grey: $color5;
$number_Plate_blackcolor: $black;
$number_Plate_asdrn_button: $color19;

// For Form ----------------------------------------------------------------------
$number_Plate_bgcolor: $white;

$form-background: $white;
$form-shadow: $color18;
$text-color: $color23;
$input-color: $color21;
$border-color: $color28;
$icon-complete-color: $color29;
$icon-tick-color: $color21;
$icon-incomplete-color: $color30;
// For exporting inline colors in table data selection in vorgangList.jsx------------------
:export {
  rowSelected: $table-row-selected;
  rowOdd: $table-row-odd;
  rowEven: $table-row-even;
  leftBorderColor: $table-left-border-color;
  fontColor: $color23;
  cellHeaderBgColor: $header_bgcolor;
}
